<div *ngIf="!appComponent.estaLogueado()" class="contenedor-botones">
    <button type="button" class="boton-animado" routerLink="/registrarse">
        <span> Registrarse </span>
    </button>
    <button type="button" class="boton-animado" routerLink="/iniciar-sesion">
        <span> Iniciar Sesión </span>
    </button>
</div>

<div *ngIf="appComponent.estaLogueado()">
    <button type="button" class="boton-play" (click)="controlarAudio()">
        <span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3.5"
                stroke="currentColor"
            >
                <path
                    *ngIf="audioFondo.paused"
                    d="M6.25 5.653 l11.54 6.348 l-11.54 6.347 V5.653z"
                />
                <path *ngIf="!audioFondo.paused" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
            </svg>
        </span>
    </button>

    <button type="button" (click)="cerrarSesion()" class="boton-cerrar">
        <span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3.5"
                stroke="currentColor"
            >
                <path d="M6 18L18 6M6 6l12 12" />
            </svg>
        </span>
    </button>

    <div class="contenedor-bienvenido">
        <h1>Bienvenido {{ appComponent.usuarioLogueado().nombre }}</h1>
    </div>

    <ul class="cuadrados">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

